{% extends 'base.html' %}

{% comment %}
SENA CBA CENTRO DE BIOTECNOLOGIA AGROPECUARIA
PROGRAMACION DE SOFTWARE

FICHA: 2877795
AUTOR: NICOLAS ANDRES ACOSTA HIGUERA
PROYECTO: NEWSPAPER (templates/registration/password_change_done.html)
FECHA: 09/10/2024
VERSION: 1.0
{% endcomment %}

{% load crispy_forms_tags %}

{% block title %}Password Change successful {% endblock title %}

{% block content %}
    <h2>Password Change</h2>
    <p>Please enter your password, for security's sake, and then enter
    your new password twice so we can verify you typed it in correctly.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success ml-2" value="Change Password">
    </form>
{% endblock content %}