{% extends "base.html" %}

{% comment %}
SENA CBA CENTRO DE BIOTECNOLOGIA AGROPECUARIA
PROGRAMACION DE SOFTWARE

FICHA: 2877795
AUTOR: NICOLAS ANDRES ACOSTA HIGUERA
PROYECTO: NEWSPAPER (templates/registration/signup.html)
FECHA: 29/09/2024
VERSION: 1.0
{% endcomment %}

<!--  templates/registration/signup.html -->


{# Carga de archivos de estilos para formularios #}
{% load crispy_forms_tags %}


{# Titulo de la página web #}
{% block title %}Sign Up{% endblock title %}

{# Bloque de contenido de la página #}
{% block content %}
    <h2>Sign Up</h2>
    <form method= "post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-succes ml-2" type="submit">Sign Up</button>
    </form>
{% endblock content %}
    

    