{% extends "base.html" %}
{% load crispy_forms_tags %}

{% comment %} 

SENA CBA CENTRO DE BIOTECNOLOGIA AGROPECUARIA
PROGRAMACION DE SOFTWARE

FICHA: 2877795
AUTOR: NICOLAS ANDRES ACOSTA HIGUERA
PROYECTO: NEWSPAPER (templates/article_detail.html)
FECHA: 29/09/2024
VERSION: 1.0

{% endcomment %}

<!--  templates/article_detail.html -->

{% block content %}


<div class="article-entry">
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-meta">by {{ object.author }} | {{ object.date }}</p>
    <p class="article-content">{{ article.body }}</p>
</div>

<hr class="divider">

<h4 class="comment-section-title">Comentarios</h4>
<div class="comment-list">
    {% for comment in article.comment_set.all %}
        <div class="comment fade-in">
            <p class="comment-author">{{ comment.author }}</p>
            <p class="comment-text">{{ comment }}</p>
            {% if comment.author == request.user %}
                <a href="{% url 'comment_edit' comment.pk %}" class="edit-link">Edit</a>
            {% endif %}
        </div>
    {% empty %}
        <p class="no-comments">No comments yet. Be the first to comment!</p>
    {% endfor %}
</div>

<hr class="divider">

<!-- Formulario de comentarios -->

<form action="" method="post" class="comment-form">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success ml-2" type="submit">Save</button>
</form>

<p class="back-link">Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>



    {% comment %} <div class="article-entry">
        <h2 style="color: var(--color-texto);">{{ object.title }}</h2>
        <p style="color: var(--color-texto);">by {{ object.author }} | {{ object.date }}</p>
        <p style="color: var(--color-texto);">{{ object.content }}</p>
    </div>
    <hr style="color: var(--color-texto); border: solid 2px">
    <h4 style="color: var(--color-texto);">Comments</h4>
    {% for comment in article.comment_set.all %}
        <p style="color: var(--color-texto);">{{ comment.author }} &middot; {{ comment }}</p>
        {% if comment.author == request.user %}
            <a href="{% url 'comment_edit' comment.pk %}">Edit</a>
        {% endif %}
    {% endfor %}
    <hr>
    <!-- Formulario de comentarios para postear -->
    <h4 style="color: var(--color-texto);">Add a Comment</h4>
    <form action="" method="post" style="color: var(--color-texto);">
        {%csrf_token%}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Save</button>
    </form>      
    <p style="color: var(--color-texto);">Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>    {% endcomment %}  
{% endblock content %}
    
