{% extends "base.html" %}

{% comment %} 

SENA CBA CENTRO DE BIOTECNOLOGIA AGROPECUARIA
PROGRAMACION DE SOFTWARE

FICHA: 2877795
AUTOR: NICOLAS ANDRES ACOSTA HIGUERA
PROYECTO: NEWSPAPER (templates/article_delete.html)
FECHA: 29/09/2024
VERSION: 1.0

{% endcomment %}

<!--  templates/article_delete.html -->


{% block content %}
    <h1 style="color: var(--color-texto);">Delete</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p style="color: var(--color-texto);">Are you sure you want to delete <b>"{{ article.title }}"</b>?</p>
        <button class="btn btn-danger ml-2" type="submit">Confirm</button>
    </form>
{% endblock content %}

    