{% extends 'base.html' %}
{% comment %} 

SENA CBA CENTRO DE BIOTECNOLOGIA AGROPECUARIA
PROGRAMACION DE SOFTWARE

FICHA: 2877795
AUTOR: NICOLAS ANDRES ACOSTA HIGUERA
PROYECTO: NEWSPAPER (templates/comment_edit.html)
FECHA: 29/09/2024
VERSION: 1.0

{% endcomment %}

{% block content %}
<div class="edit-comment-container">
  <h2>Edita tu comentario</h2>
  <form method="post" class="edit-comment-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="submit-button">
      <ion-icon name="save-outline"></ion-icon>
      Guardar cambios
    </button>
  </form>
  <a href="{% url 'article_detail' object.article.pk %}" class="cancel-link">
    <ion-icon name="close-circle-outline"></ion-icon> Cancelar
  </a>
</div>
{% endblock %}

