{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body text-center">
            <!-- Mostrar la foto con dimensiones cuadradas -->
            <img src="{{ profile.profile_picture.url }}" alt="Foto de perfil" style="width: 150px; height: 150px; object-fit: cover;border-radius: 30%;" class="mb-3">
            <h3>{{ profile.user.username }}</h3>

            <!-- Enlace para actualizar la foto si el usuario es el propietario del perfil -->
            {% if request.user == profile.user %}
                <a href="{% url 'update_profile_picture' %}" class="btn btn-secondary mb-3">Actualizar foto de perfil</a>
            {% endif %}

        </div>
    </div>

    <h4 class="mt-4">Publicaciones de {{ profile.user.username }}</h4>
    {% for article in articles %}
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-light">
                <h5 class="mb-0">{{ article.title }}</h5>
                <small class="text-muted">{{ article.date }}</small>
            </div>
            <div class="card-body">
                {% if article.image %}
                    <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid mb-3">
                {% endif %}
                <p>{{ article.body|truncatewords:50 }}</p>
                <a href="{% url 'article_detail' article.pk %}" class="btn btn-sm btn-primary">Leer más</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

